/* colors 
FF0000 red 
CC0000   other red 
3B4CCA   blue 
FFDE00    yellow 
B3A125    other yellow
 */

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 180px;
  max-width: 190px;
} 


.grid div {
  border: none;
  flex-grow: 1;
  height: 5%;
  width: 5%;
  font-size:1vh;
  background-color: #3B4CCA;
  color: transparent;
}

* {
  box-sizing: border-box;
}

body {
display: flex;
  background-color: black;
  justify-content: center;
  margin: 0%;
  font-family: 'DotGothic16', sans-serif;
  font-size: 25px;
}


.grid-wrapper {
  display: flex;
  justify-content: center;
align-items: center;
max-width: 160vh;

}


.grid div.food {
  background-color: #CC0000;
  box-shadow: 0  0  5px  #CC0000;
}

.grid div.snake {
    background-color: #B3A125;
    box-shadow: 0  0  5px #B3A125;
}

#grid-flex{ 
  padding: 158px;
  max-width: 140vh;
  align-items: center;
  margin-left: 100px;
  
}

#background-gameboy { 
  background-image: url(https://static.turbosquid.com/Preview/000290/572/N7/nintendo-gameboy-color-console-3d-ma_D.jpg);
  background-repeat: no-repeat;
  width: 100vh;
  height: 100vh;
  background-size: 110%;
  overflow: hidden;
}

div { 
  display: flex;
  justify-content: center;
}

#flex-button { 
  flex-wrap: wrap;
  align-content: flex-end;
}

.score { 
  color: #FFDE00 ;
}


button { 
  color:#FFDE00;
  background-color:#3B4CCA;
  font-family: 'DotGothic16', sans-serif;
  height: 40px;
  margin:10px;
}

.hello { 
  visibility:hidden;
}

.game-over-span { 
  display: block;
  visibility: visible;
  font-size: 20px;
  color: #B3A125;
  padding-left: 5px;
  padding-right: 10px;
}
img { 
  display: block;
  visibility: visible;
  font-size: 20px;
  color: #B3A125;
  width: 80px;
  padding-left: 5px;
}


@media only screen and (max-width: 800px) { 
  body { flex-direction: row-reverse;}
  #flex-button { margin-left: 50px; }
} 

@media only screen and (max-width: 700px ) { 
  #background-gameboy { background-image: none;
  height: 80vh;}
  .grid {   height: 300px;
    max-width: 300px;
  }
  .grid div {
      height: 5%;
      width: 5%; 
  }
  #grid-flex {     
    max-width: 170vh;
    align-items: center;
    margin-left: 0px;
  padding: 5px;}
  body {flex-direction: column-reverse; }
}

#Refresh { 
  display: none;
}

.refresh2 { 
  color:#FFDE00;
  background-color:#3B4CCA;
  font-family: 'DotGothic16', sans-serif;
  height: 40px;
  margin:10px;
  display:inline;
  flex-wrap: wrap;
  align-content: flex-end;
}

.hide { 
  display: none;
}