
.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 250px;
  max-width: 250px;
} 


.grid div {
  border: none;
  flex-grow: 1;
  height: 5%;
  width: 5%;
  font-size:1vh;
  background-color: rgb(15, 56, 15);
  color: transparent;
}

* {
  box-sizing: border-box;
}

body {

  background-color: black;
 justify-content: center;
}


.grid-wrapper {
  display: flex;
  justify-content: center;
align-items: center;
max-width: 160vh;

}


.grid div.food {
  background-color: blueviolet;
  box-shadow: 0  0  5px  blueviolet;
}

.grid div.snake {
    background-color: #8bac0f;
    box-shadow: 0  0  5px #8bac0f;
}

#grid-flex{ 
  padding:100px;
  max-width: 140vh;
  align-items: center;
  
}

#background-gameboy { 
  background-image: url(https://static.turbosquid.com/Preview/000290/572/N7/nintendo-gameboy-color-console-3d-ma_D.jpg);
  background-repeat: no-repeat;
  width: 100vh;
  height: 90vh;
}

div { 
  display: flex;
  justify-content: center;
}